---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

import'./AboutFurnitureBox.scss';

interface Props {
  aboutFurnitureContent: CollectionEntry<'about-furniture'>;      
}

const { aboutFurnitureContent} = Astro.props;
const { Content } = await aboutFurnitureContent.render();
---

<div class="about-furniture-content">
  <div class="image-container">
    <Image src={aboutFurnitureContent.data.mainImg.dark.src} 
            alt={aboutFurnitureContent.data.mainImg.dark.alt} 
            width="420" height="266" 
    />
  </div>
  <div class="common-container">
    <div class="text-container">
      <h2 class="text-title league-spartan-bold uppercase">
        <Fragment set:html={aboutFurnitureContent.data.title} />
      </h2>
      <div class="paragraph-title league-spartan-medium">
        <Content />
      </div> 
    </div>
  </div>
  <div class="image-container">
    <Image src={aboutFurnitureContent.data.mainImg.light.src} 
            alt={aboutFurnitureContent.data.mainImg.light.alt} 
            width="420" height="266" 
    />
  </div>
</div>